.info{
    margin-left: 8%;
}
h1 {
    font-family: 'Times New Roman', Times, serif
}
.fa-trash-alt,.fa-crown{
    cursor: pointer;
}
.fa-edit{
    color : #000
}
 #id {
    width: 19%;
    cursor: pointer;
}
#value {
    width: 37%;
    cursor: pointer;
}
#name {
    width: 37%;
    cursor: pointer;
}
.page-item{
    cursor : pointer
}