body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.figure p,button{
    margin-top: 10px;
}
table{
    margin: 20px;
}  
.input-group{
    margin: 20px 2.2vw;
}
.input-group input{
    margin: 10px 0;
}